body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: #7d7dd4;
    background: linear-gradient(90deg, rgba(125, 125, 212, 1) 0%, rgba(189, 189, 255, 1) 36%, rgba(31, 185, 219, 1) 98%);
}

/* Header */
header {
    margin-left: 20px;
}

/* Các nút bấm */
button {
    padding: 8px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
    background-color: #2980b9;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 50px;
    font-size: 16px;
}

/* Display area */
.toolbar {
    margin-left: 20px;
}

.display-area {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.display-area {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 10px 0;
    flex-wrap: wrap;
    max-width: 1200px;
}

/* --- Node --- */
.head-node, .tail-node {
    border: 2px solid #2c3e50;
    background: #e0f4ff;
    border-radius: 5px;
    padding: 5px;
    min-width: 54px;
    text-align: center;
    font-weight: bold;
}

.node {
    display: flex;
    align-items: center;

    border: 2px solid #2c3e50;
    border-radius: 5px;
    background: #e0f4ff;
    color: #2c3e50;
    font-weight: bold;
    font-size: 16px;

    min-width: 110px;
    height: 50px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 15px 0;

    /* Hiệu ứng chuyển đổi (Transition) */
    transition:
        opacity 0.5s ease-in,
        transform 0.5s ease-in,
        background-color 0.5s ease-in,
        box-shadow 0.5s ease-in,
        color 0.2s ease;;
}

.node .node-value {
    border-right-width: 1px;
    border-right-style: solid; 
    border-right-color: #2c3e50;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node .node-next {
    margin-left: auto;
    margin-right: auto;
}
/* 1. Trạng thái Sắp xuất hiện (Fade In) */
.node.new {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

/* 2. Trạng thái Sắp biến mất (Fade Out) */
.node.deleting {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    pointer-events: none;
}

/* 3. Trạng thái Nổi bật (Highlight - cho Search) */
.node.active {
    background-color: #ffda79;
    border-color: #f39c12;
    box-shadow: 0 0 10px #f39c12;
    transform: scale(1.1);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.node.clear {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: 0 0 10px red;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        color 0.2s ease;
}

/* Mũi tên */

.arrow {
    margin: 0 2px;
    min-width: 40px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.arrow.new {
    opacity: 0;
    transform: translateX(-20%) scale(0.7);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in;
}

.arrow.deleting {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
}

/* overlay */
.busy-overlay.block {
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay.active {
    z-index: 1000;
}


/* modal */
.modal {
    position: relative;
    width: fit-content;
    background: #fff;
    pointer-events: none;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.modal.display {
    z-index: 999;
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in, transform 0.3s ease-out;
}

.modal-header {
    display: flex;
    padding: 10px;
    line-height: 28px;
}

#btn-remove-node {
    position: fixed;
    width: 24px;
    cursor: pointer;
    margin-left: 20px;
    right: 8px;
}

.modal-body>button {
    margin-top: 10px;
    margin: 5px;
}

.modal .node-name {
    font-weight: bold;
}

.modal-body {
    padding: 0 8px 8px 8px;
    position: relative;
}

.modal #input-value-modal {
    width: inherit;
    margin: 0;
    box-sizing: border-box;
}

#btn-add-before,
#btn-add-after {
    margin: 8px 0 0 0;
}

#btn-add-after {
    position: absolute;
    right: 8px;
}


/* Modal create random */
.overlay-create-random {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.overlay-create-random.active {
    z-index: 1000;
    display: block;
}

.modal-create-random {
    position: fixed;
    background-color: #fff;
    width: fit-content;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}

