#display-area {
    justify-content: center;
    text-align: center;
}

.node {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    background: #e0f4ff;
}

.arrow {
    display: inline-block;
    margin: 0 6px;
    font-size: 24px;
}